
@import "tailwindcss";

h1{
  font-size: 90px;
  position: absolute;
  font-weight: 500;
  top: 45%;
  left:50%;
  text-decoration: underline;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-transform: capitalize;
}